main {
  background: url('./hero-bg.jpg');
}

main .container {
  padding-bottom: 1rem;
}


@media only screen and (min-width:1000px) {
  
  main .container{
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5rem;
    
  }

  .cardContainer {
    display: flex;
  }

  main section {
    padding: 5rem 0;
  }

}